
.card .card-image {
    margin-bottom: 0.76rem;
}

.card .card-tag {
    margin-bottom: 1.25rem;
    text-transform: uppercase;
    color: var(--light-font-color);
    font-family: ubuntu, sans-serif;
}

.card .card-title {
    line-height: 1.2;
    font-weight: 500;
    font-size: 2.143em;
    margin-bottom: 0.8em;
}
