.newsletter-container {
    background: var(--light-background-gray);
}

.news-letter

.newsletter-form {
}

.newsletter-input {
    border-radius: 4px;
}

.newsletter-submit-button {
    cursor: pointer;
}