.newsletter-container {
    padding: 70px 0;
    text-align: center;
    background: var(--light-background-color);
}

.newsletter #newsletter-title {
    font-size: 2.143em;
    margin-block-end: 1em;
    color: var(--dark-font-color);
}

.newsletter-form {
}

.newsletter-input {
    width: 100%;
    max-width: 400px;
    background: none;
}

.newsletter .newsletter-submit-button {
    font-size: 1.2em;
}