* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: playfair, serif;
    color: var(--main-font-color);
}

body {
    font-size: 0.875rem;
    line-height: 1.7143;
    background: rgb(243, 243, 243);
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    color: var(--black);
}

a:hover {
    text-decoration: none;
}