* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: playfair, serif;
    color: var(--main-font-color);
}

body {
    font-size: 0.875rem;
    line-height: 1.7143;
    background: var(--primary-bg-color);
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    color: var(--darkest-color);
}

a:hover {
    text-decoration: none;
}

input {
    border: none;
    padding: 1em 0;
    font-size: 1em;
    background: none;
    font-family: playfair, serif;
    color: var(--main-font-color);
    border-bottom: 1px solid var(--darkest-color);
}

input:focus {
    outline: none;
}

button {
    border: none;
    cursor: pointer;
    padding: 0.12em;
    background: none;
}

button:hover {
    color: var(--main-font-color);
    transform: scale(1.2);
}