
.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.align-center {
    align-items: center;
}

.flex.justify-center {
    justify-content: center;
}

.flex.space-between {
    justify-content: space-between;
}

.logo {
    cursor: pointer;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-family: inconsolata, monospace;
}